:root {
  --text-color: #000000;
  --text-link-color: #e76f51;
  --bg-color: #ffffff;
}

.dark {
  --text-color: #ffffff;
  --text-link-color: #f4a261;
  --bg-color: #264653;
}

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer base {
  body {
    @apply bg-bgColor text-textColor transition-colors;
  }
}
